html {
  background-color: #e2e2e2;
  font-family: futura, sans-serif;
}

body {
  margin: 2em auto;
  max-width: 35em;

  background-color: #fff;
  border: 1px solid #ccc;
}


section {
  padding: 4em 1em;
  position: relative;

  border-bottom: 1px solid #ccc;
  overflow: hidden;
}

section:nth-child(5) {
  border: 0;
}

div {
  position: absolute;
  right: 1em;
  top: 0;
}

.box {
    border: 2px solid black;
    border-radius: 20px;
  height: 100px;
  top: calc(50% - 50px);
  width: 200px;

  background-color: limegreen;
    opacity: 0;
    transition: all 500ms linear;
}

.diamond {
  height: 80px;
  right: 2em;
  top: calc(50% - 40px);
  width: 80px;

  background-color: hotpink;
  transform: rotate(45deg);
  transition: all 500ms linear;
}

.panel {
  width: 250px;
  top: 50%;

  background-color: yellow;
  transform: translateY(-50%);

  color: darkgoldenrod;
  text-align: center;
}

.panel h2 {
  margin: 0;
  padding: 3rem 0;
}

.circle {
  height: 100px;
  top: calc(50% - 50px);
  width: 100px;

  background-color: orange;
  border-radius: 50%;
}

.list {
  bottom: 1em;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 1em;
  top: 1em;
  width: 250px;

  border: 1px solid #ccc;
  overflow: hidden;
  overflow-y: auto;
}

.list li {
  padding: 0.5em;

  background-color: plum;
  border: 1px solid mediumpurple;

  color: mediumpurple;
}

.panel {
    border: 2px solid black;
    border-radius: 20px;
    max-height: 0px;
    overflow: hidden;
    transition: all 500ms linear;
}

.js-btn-collapse-expand {
    max-height: 20em;
}

.js-btn-hide {
    opacity: 1;
}

.js-btn-move {
    right: -10em;
}

.js-ball-bounce {
    animation: ball-bounce 500ms linear;
}

@keyframes ball-bounce {
    0% {
        top:50px;
    }
    20% {
        top:60px;
    }
    
    50% {
        top:70px;
    }
    
    80% {
        top:50px;
    }
    
    100% {
        top:60px
    }
}